h4{
    display: inline;
    font-size: 50px;
}

.container {
    color: white;
}

.cityName{
    font-size: 70px;
}

time{
    padding-top: 65px;
    font-size: 50px;
}

.forecastContainer{
    display: flex;
    justify-content: space-around;
    margin-left: 500px;
    margin-right: 500px;
}
