h4{
    display: inline;
    font-size: 50px;
}

.cityName{
    font-size: 70px;
}



.forecastContainer{
    display: flex;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;

}
