.formContainer{
    margin-left: 25%;
    margin-right: 25%;
    background-color: #7A9D96;
    color: white;	
    
}

.iconClockContainer{
    display: flex;
    flex-direction: row;

}

time{
    padding-top: -55px;
    font-size: 50px;
}

.label{
    font-size: 50px;
    text-align: left;
    margin-left: 1%;
    margin-top: 1%;
}

.textAndSubmitComponents{
    display: inline-block;
}