.formContainer{
    margin-left: 25%;
    margin-right: 25%;
    background-color: #7A9D96;
    color: white;
    padding: 0.3% 0.6%;	
    
}

.iconClockContainer{
    display: flex;
    justify-content: space-between;
}

time{
    padding-top: 17px;
    font-size: 50px;
}

.label{
    font-size: 50px;
    text-align: left;
    margin-left: 1%;
    margin-top: 1%;
}

.textAndSubmitComponents{
    display: inline-block;
}